/**Global**/

.meta a{
    color: gray;
}

.meta a:after{
    content: "";
    display: block;
    height: 2px;
    width: 100%;
    background: gray;
}

.featured-item {
    margin-bottom: 2rem;
    position: relative;
}

.title {
    font-size: 25px;
    font-weight: 500;
    margin-bottom: 10px;
    display: inline-block;
}

.title span {
    background-image:
            linear-gradient(to right, #000, #000);
    background-size: 0 0.1em;
    background-position: left bottom;
    background-repeat: no-repeat;
    transition: background-size 300ms;
}

.list-item:hover .title span, .featured-list-item:hover .title span, .featured-item:hover .title span{
    background-size: 100% 0.1em;
}

.featured-item .details {
    padding: 10px 40px 0 0;
}

.meta {
    display: flex;
    justify-content: space-between;
    font-size: 14px;
}

.featured-item .meta .date {
    color: #fff;
}

.cover {
    transition: transform 0.3s ease;
}

.list-item:hover .cover {
    transform: scale(1.15);
}

.featured-list-item:hover .cover, .featured-item:hover .cover {
    transform: scale(1.05);
}

/** featured list item **/

.featured-list-item {
    margin-bottom: 2rem;
    width: 70%;
    align-self: center;
}

.featured-list-item .details {
    padding-bottom: 15px;
}

.video-cover .details {
    position: absolute;
    bottom: 1rem;
    left: 1rem;
}

.video-cover .commands {
    position: absolute;
    top: 1rem;
    left: 1rem;
}

.video-cover .commands {
    position: absolute;
    top: 1rem;
    left: 1rem;
    display: flex;
    align-items: center;
}

.video-cover .commands button{
    margin-right: 5px;
    height: 30px;
    width: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    transition: all 0.3s ease;
}

.commands:hover button{
    background: var(--primary);
}

.commands:hover path {
    fill: var(--primary-dark);
}


/**List Item**/
.list-item {
    display: flex;
    margin-bottom: 2rem;
}

.list-item .title {
    font-size: 20px;
}

.list-item .cover {
    max-width: 100px;
}

.list-item .details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-right: 15px;
}

.date {
    color: var(--primary);
    display: flex;
    align-items: center;
}

.opened-icon {
    height: 10px;
    width: 10px;
    background: var(--primary);
    border-radius: 50%;
    margin-left: 5px;
}

/** large breakpoint **/
@media all and (max-width: 960px){
    .featured-list-item {
        width: 100%;
    }
    .title {
        font-size: 22px;
    }

    .list-item .title{
        font-size: 18px;
    }
}


/** medium breakpoint **/
@media all and (max-width: 720px){
    .title {
        font-size: 18px;
    }

    .list-item .title{
        font-size: 14px;
    }
}

/** extra small breakpoint **/
@media all and (max-width: 360px){
    .title {
        font-size: 18px;
    }

    .list-item .title{
        font-size: 14px;
    }
}