
header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 1rem 3rem;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
}

ul.social-links  a, ul.social-links svg path, .menu-toggle, .burger-bar, #logo, .main-menu, .navigation li a:after, .logo-link:before, .ext-links > a::after {
    transition: all 0.3s ease;
}

/**Logo**/
.logo-link{
    width: auto;
    position: relative;
    z-index: 100;
}

#logo path{
    fill: var(--secondary-light);
}
#logo {
    height: 70px;
    width: auto;
    position: absolute;
    display: block;
}

#logo:hover{
    height: calc(5rem *2);
}

.menu-active #logo path {
    fill: #ff6a57;
}

.logo-link:before {
    content: "";
    display: block;
    height: 1px;
    width: 1px;
    border-radius: 50%;
    position: absolute;
    box-shadow: 0 0 0 0 #ffc0cbd9;
}

.logo-link:hover:before{
    box-shadow: 0 0 200px 250px rgba(255, 106, 87, 0.5);
}

/**Logo end**/

/**socials links**/

.social-links {
    display: flex;
    position: relative;
    z-index: 100;
}

.social-links  a {
    display: inline-block;
    margin: 0 5px;
    height: 40px;
    width: 40px;
    border-radius: 50%;
}

.social-links  li:hover a{
    background: var(--primary-light);
}

.social-links  a:hover svg path{
    fill: var(--primary-dark);
}

/**socials links end**/

/**menu toggle**/

.menu-toggle{
    height: 40px;
    width: 40px;
    border-radius: 50%;
    padding: 0 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    cursor: pointer;
    position: relative;
    z-index: 100;
}

.menu-toggle:hover{
    background: var(--primary-light);
}

.burger-bar{
    margin: 2px 0;
    height: 3px;
    width: 100%;
    background: #000;
    border-radius: 5px;
}

.menu-toggle:hover .burger-bar {
    background: var(--primary-dark);
}

.menu-active .menu-toggle :nth-child(2){
    opacity: 0;
}

.menu-active .menu-toggle :nth-child(1){
    transform-origin: left top;
    transform: rotateZ(45deg);
}

.menu-active .menu-toggle :nth-child(3){
    transform-origin: left bottom;
    transform: rotateZ(-45deg);
}

.menu-active .menu-toggle .burger-bar {
    width: 105%;
}

/**menu toggle end**/

/**main navigation**/
.main-menu{
    background: linear-gradient(90deg, rgba(255,255,255,0.4990371148459384) 0%, rgba(255,255,255,1) 55%);;
    position: absolute;
    right: 0;
    top: 0;
    width: 0;
    height: 100vh;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding: 6rem 0;
}

.menu-active .main-menu{
    width: 100%;
}

.navigation{
    width: 50%;
    height: 100%;
}

a.contact-link {
    width: 50%;
}

.navigation li a {
    display: inline-block;
    padding: 0.5rem 0;
    font-size: 25px;
    color: var(--primary-dark);
    font-weight: 500;
}

.navigation li a:after{
    content: "";
    display: block;
    height: 2px;
    width: 0;
    background: var(--primary-dark);
}

.navigation li:hover a:after{
    width: 100%;
}

.ext-links {
    width: 45%;
    display: flex;
    align-items: center;
    font-size: 14px;
}

.ext-links > a::after{
    content: "";
    display: block;
    height: 2px;
    width: 0;
    background: #000;
}

.ext-links > a:hover::after{
    width: 100%;
}

.main-menu .social-links{
    display: none;
}

/**main navigation end**/

/** small breakpoint **/
@media all and (max-width: 560px){
    header {
        padding: 1rem 2rem;
    }

    header > .social-links {
        display: none;
    }

    .main-menu{
        background: #fff;
    }

    .main-menu .navigation, .ext-links{
        width: 100%;
        padding: 0 2rem;
    }
    .main-menu .social-links{
        display: flex;
    }

    .ext-links {
        justify-content: space-between;
    }

    #logo {
        height: 40px;
    }
}