

.intro, .content{
    padding-top: 70px;
}

main .articles{
    display: flex;
    flex-direction: column;
    padding: 0 4rem 0 50%;
}

.intro{
    background: var(--primary);
    width: 42%;
    padding-left: 4rem;
}

.content{
    display: flex;
    flex-direction: column;
}

.intro-articles{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    position: relative;
    right: -20px;
}

/** newsletter **/

.newsletter{
    width: 100%;
    height: 250px;
    background: var(--secondary-light);
    margin-bottom: 2rem;
    position: relative;
    z-index: 50;
}

/** large breakpoint **/

@media all and (max-width: 960px){
    .intro{
        padding-left: 2rem;
    }
    .content{
        padding-right: 0;
    }

    main .articles {
        padding: 0 0 0 50%;
    }
}



/** small breakpoint **/

@media all and (max-width: 560px){
    main {
        justify-content: initial;
        align-items: center;
        flex-direction: column;
    }

    .intro {
        width: 100%;
        padding: 0 4rem 0;
    }

    .intro-articles {
        justify-content: center;
        right: initial;
        bottom: -70px;
    }

    .content {
        width: 100%;
        padding: 70px 0 0;
    }
    main .articles{
        padding: 0 4rem;
    }
}

/** extra small breakpoint **/

@media all and (max-width: 360px){

    .intro {
        width: 100%;
        padding: 0 0 0 2rem;
    }

    .intro-articles {
        justify-content: center;
        right: initial;
        bottom: -70px;
    }

    .content {
        padding: 70px 0 0 2rem;
    }
}

@media all and (min-width: 560px) {
    main{
       display: block;
    }

    .intro{
        position: sticky;
        top: 0;
    }
}

/** @TODO fix articles block top position**/

