
main{
    min-height: 100vh;
    display: flex;
    justify-content: space-between;
}


.intro, .content{
    min-height: 100%;
    padding-top: 70px;
}

.intro{
    background: var(--primary);
    width: 42%;
    position: relative;
    padding-left: 4rem;
}

.content{
    width: 53%;
    padding-right: 5rem;
    padding-left: 2.5rem;
    display: flex;
    flex-direction: column;
}

.intro-articles{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    position: relative;
    right: -20px;
}

/** large breakpoint **/

@media all and (max-width: 960px){
    .intro{
        padding-left: 2rem;
    }
    .content{
        padding-right: 0;
    }
}



/** small breakpoint **/

@media all and (max-width: 560px){
    main {
        justify-content: initial;
        align-items: center;
        flex-direction: column;
    }

    .intro {
        width: 100%;
        padding: 0 4rem 0;
    }

    .intro-articles {
        justify-content: center;
        right: initial;
        bottom: -70px;
    }

    .content {
        width: 100%;
        padding: 70px 4rem;
    }
}

/** extra small breakpoint **/

@media all and (max-width: 360px){

    .intro {
        width: 100%;
        padding: 0 0 0 2rem;
    }

    .intro-articles {
        justify-content: center;
        right: initial;
        bottom: -70px;
    }

    .content {
        padding: 70px 0 0 2rem;
    }
}

